@import "_variables.less";

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: @standardFontColor;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    background-color: @standardLightPalette;
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
    margin-bottom: @halfStandardSpace;
}

a {
    text-decoration: none;
    color: inherit;
}

.content__container {
    width: 100%;
    margin-top: 62px;
    margin-bottom: 32px;
    padding: @standardSpace;
    display: flex;
    flex-wrap:wrap;
}