@import "_variables.less";

//todo refactor LESS (all of it, make some more mixins)

body {
    background-color: @standardLightPalette;
    color: @standardFontColor;
    display: flex;
    flex-basis: 100%;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
    margin-bottom: @halfStandardSpace;
}

a {
    color: inherit;
    text-decoration: none;
}

.content__container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-top: 62px;
    margin-bottom: 32px;
    padding: @standardSpace;
}