@import "_variables.less";

.form__container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: @standardExtraLightPalette;
    padding: @standardSpace;
}

.validation-summary-errors ul {
    text-align: right;
    list-style-type: none;
    padding-left: 0;
    color: red;
}

form {
    flex-basis: 100%;
}

article {
    margin-bottom: @halfStandardSpace;
}

.input__container {
    display: flex;
    align-items: center;
}

.input__field, .input__label {
    padding: @halfStandardSpace;
}

.input__label {
    text-align: right;
}

.input__label, .input__field {
    flex-basis: 50%;
}

input, select, textarea {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: @standardSpace;
    color: @standardFontColor;
    width: 100%;
    height: 28px;
    background-color: @standardLightPalette;
    border: none;
    padding: @quarterStandardSpace;
}

input[type=submit] {
    width: auto;
    color: @standardFontColor;
    padding: @halfStandardSpace;
    height: 40px;
    float: right;
}

input[type=submit]:hover {
    cursor: pointer;
}

textarea {
    resize: none;
    height: 100px;
}

select {
    height: 36px;
}

@media(max-width: @smallBreakpoint) {
    .input__container {
        display: block;
        width: 100%;
    }

    .input__label, .input__field, .validation-summary-errors ul {
        text-align: left;
        padding-left: 0;
    }

    .input__label {
        padding-bottom: 0;
    }
}