@import "_variables.less";
@import "_mixins.less";

.pill__item {
    background-color: @standardLightPalette;
    border-radius: @threeQuarterStandardSpace;
    color: @lightFontColor;
    display: inline-block;
    font-size: @threeQuarterStandardSpace;
    margin-bottom: @halfStandardSpace;
    padding: @quarterStandardSpace @standardSpace;
    text-transform: uppercase;
    .box-shadow--small();
}

.pill__item--hover {
    .hover-shadow();

    &:hover {
        cursor: default;
    }
}

.pill__item--dark {
    background-color: @standardDarkPalette;
}

.Grass {
    background-color: #7BB082;
}

.Poison {
    background-color: #C183C1;
}

.Fire {
    background-color: #EE785F;
}

.Flying {
    background-color: #C6B7F5;
}

.Water {
    background-color: #96CBD8;
}

.Bug {
    background-color: #E1D197;
}

.Electric {
    background-color: #F4DE96;
}

.Fairy {
    background-color: #F6D9DC;
}

.Ground {
    background-color: #BFAB7F;
}

.Rock {
    background-color: #9B8F8B;
}

.Psychic {
    background-color: #F85888;
}

.Fighting {
    background-color: #C03028;
}