@import "_variables.less";
@import "_mixins.less";

.pokemon__container {
    flex-basis: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;

    h1{
        margin-top: @halfStandardSpace;
    }
}

.pokemon__item {
    flex-basis: 27%;
    padding: @standardSpace;
    margin: @standardSpace;
    background-color: @standardExtraLightPalette;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon__item--hover {
    .hover-shadow();

    &:hover {
        .box-shadow();
    }
}

.pokemon__item-img {
    width: 75px;
    opacity: .8;
}

.pokemon__navigation {
    flex-basis: 100%;
    margin-top: @standardSpace;
    display: flex;
    justify-content: space-between;

    a {
        background-color: @standardExtraLightPalette;
        padding: @halfStandardSpace;
        .hover-shadow();

        &:hover {
            .box-shadow();
        }
    }
}

.pokemon__item--large {
    flex-basis: 100%;
    display: block;
    margin: 0;

    .pokemon__item-img {
        width: 400px;
        float: right;
        margin-left: @halfStandardSpace;
    }

    .pokemon__item-img--small, .pokeball__item-img--small {
        width: 35px;
    }
}

.pokemon__item-stat {
    margin-bottom: @standardSpace;

    img {
        width: 25px;
        margin-right: @halfStandardSpace;
    }

    span {
        margin-right: @standardSpace;
    }
}

@media(max-width:@mediumBreakpoint) {
    .pokemon__item {
        flex-basis: 40%;
    }

    .pokemon__item--large {
        flex-basis: 100%;
    }

    .pokemon__item-img {
        width: 50px;
    }
}

@media(max-width:@mediumSmallBreakpoint) {
    .pokemon__item {
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .pokemon__item--large {
        .pokemon__item-img {
            width: 250px;
            float: none;
            display: block;
            margin: auto;
        }
    }
}