@import "_variables.less";
@import "_mixins.less";

.pokemon__container {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;

    h1 {
        margin-top: @halfStandardSpace;
    }
}

.pokemon__item {
    align-items: center;
    background-color: @standardExtraLightPalette;
    display: flex;
    flex-basis: 18%;
    justify-content: space-between;
    margin: @standardSpace;
    padding: @standardSpace;
}

.pokemon__item-title{
    margin-bottom: 0;
}

.pokemon__item-img {
    opacity: .8;
    width: 40px;
}

.pokemon__item-stat {
    margin-bottom: @standardSpace;

    img {
        margin-right: @halfStandardSpace;
        width: 25px;
    }

    span {
        margin-right: @standardSpace;
    }
}

.pokemon__item--hover {
    .hover-shadow();

    &:hover {
        .box-shadow();
    }
}

.pokemon__item--large {
    display: block;
    flex-basis: 100%;
    margin: 0;

    .pokemon__item-img {
        float: right;
        margin-left: @halfStandardSpace;
        width: 400px;
    }

    .pokemon__item-img--small, .pokeball__item-img--small {
        width: 35px;
    }
}

.pokemon__navigation {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-top: @standardSpace;

    a {
        background-color: @standardExtraLightPalette;
        padding: @halfStandardSpace;
        text-transform: uppercase;
        .hover-shadow();

        &:hover {
            .box-shadow();
        }
    }
}

@media(max-width:@mediumBreakpoint) {
    .pokemon__item {
        flex-basis: 40%;
    }

    .pokemon__item--large {
        flex-basis: 100%;
    }

    .pokemon__item-img {
        width: 50px;
    }
}

@media(max-width:@mediumSmallBreakpoint) {
    .pokemon__item {
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .pokemon__item--large {
        .pokemon__item-img {
            display: block;
            float: none;
            margin: auto;
            width: 250px;
        }
    }
}