body {
  background-color: #D4D4D4;
  color: #4C4F54;
  display: flex;
  flex-basis: 100%;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
  margin-bottom: 0.5rem;
}
a {
  color: inherit;
  text-decoration: none;
}
.content__container {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-top: 62px;
  margin-bottom: 32px;
  padding: 1rem;
}
.error__container {
  display: block;
  width: 100%;
}
footer {
  align-items: center;
  background-color: #989EA6;
  bottom: 0;
  display: flex;
  font-size: 0.5rem;
  height: 32px;
  justify-content: center;
  position: fixed;
  width: 100%;
}
.form__container {
  background-color: #E4E4E4;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  padding: 1rem;
}
.validation-summary-errors ul {
  color: red;
  list-style-type: none;
  padding-left: 0;
  text-align: right;
}
.edit__form.validation-summary-errors ul {
  text-align: left;
}
form {
  flex-basis: 100%;
}
article {
  margin-bottom: 0.5rem;
}
.input__container {
  align-items: center;
  display: flex;
}
.input__field,
.input__label {
  padding: 0.5rem;
}
.input__label {
  text-align: right;
}
.input__label,
.input__field {
  flex-basis: 50%;
}
input,
select,
textarea {
  background-color: #D4D4D4;
  border: none;
  color: #4C4F54;
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  height: 28px;
  padding: 0.25rem;
  width: 100%;
}
input[type=submit] {
  color: #4C4F54;
  float: right;
  height: 40px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
input[type=submit]:hover {
  cursor: pointer;
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
}
input[type=submit]:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px #989EA6;
}
textarea {
  height: 100px;
  resize: none;
}
select {
  height: 36px;
}
.pokemon__container .input__label {
  padding-left: 0;
  text-align: left;
}
.pokemon__container .input__label,
.pokemon__container .input__field {
  flex-basis: auto;
}
.pokemon__container input[type=submit] {
  float: none;
}
@media (max-width: 600px) {
  .input__container {
    display: block;
    width: 100%;
  }
  .input__label,
  .input__field,
  .validation-summary-errors ul {
    padding-left: 0;
    text-align: left;
  }
  .input__label {
    padding-bottom: 0;
  }
}
.navigation__container {
  background-color: #989EA6;
  height: 62px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navigation__list {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation__item {
  display: flex;
  flex-basis: 23%;
  justify-content: center;
  padding: 1rem;
}
.navigation__item:hover {
  background-color: rgba(92, 106, 128, 0.5);
  cursor: pointer;
}
.navigation__item img {
  height: 30px;
}
.pagination {
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pagination li {
  background-color: #989EA6;
  margin: 0;
  padding: 1rem;
}
.pagination li:hover:not(.active):not(.disabled) {
  box-shadow: 0px 0px 8px 0px #989EA6;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.pagination li:hover:not(.active):not(.disabled):hover {
  cursor: pointer;
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
}
.pagination li.active {
  background-color: #E4E4E4;
}
.pagination li.disabled {
  background-color: #D4D4D4;
}
@media (max-width: 1050px) {
  .pagination li {
    padding: 0.5rem;
  }
}
.pill__item {
  background-color: #D4D4D4;
  border-radius: 0.75rem;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  box-shadow: 0px 0px 4px 0px #989EA6;
}
.pill__item--hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.pill__item--hover:hover {
  cursor: pointer;
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
}
.pill__item--hover:hover {
  cursor: default;
}
.pill__item--dark {
  background-color: #989EA6;
}
.Grass {
  background-color: #7BB082;
}
.Poison {
  background-color: #C183C1;
}
.Fire {
  background-color: #EE785F;
}
.Flying {
  background-color: #C6B7F5;
}
.Water {
  background-color: #96CBD8;
}
.Bug {
  background-color: #E1D197;
}
.Electric {
  background-color: #F4DE96;
}
.Fairy {
  background-color: #F6D9DC;
}
.Ground {
  background-color: #BFAB7F;
}
.Rock {
  background-color: #9B8F8B;
}
.Psychic {
  background-color: #F85888;
}
.Fighting {
  background-color: #C03028;
}
.pokemon__container {
  align-content: center;
  align-items: stretch;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pokemon__container h1 {
  margin-top: 0.5rem;
}
.pokemon__item {
  align-items: center;
  background-color: #E4E4E4;
  display: flex;
  flex-basis: 18%;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
}
.pokemon__item--hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.pokemon__item--hover:hover {
  cursor: pointer;
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
}
.pokemon__item--hover:hover {
  box-shadow: 0px 0px 8px 0px #989EA6;
}
.pokemon__item-img {
  opacity: 0.8;
  width: 40px;
}
.pokemon__navigation {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}
.pokemon__navigation a {
  background-color: #E4E4E4;
  padding: 0.5rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.pokemon__navigation a:hover {
  cursor: pointer;
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
}
.pokemon__navigation a:hover {
  box-shadow: 0px 0px 8px 0px #989EA6;
}
.pokemon__item--large {
  display: block;
  flex-basis: 100%;
  margin: 0;
}
.pokemon__item--large .pokemon__item-img {
  float: right;
  margin-left: 0.5rem;
  width: 400px;
}
.pokemon__item--large .pokemon__item-img--small,
.pokemon__item--large .pokeball__item-img--small {
  width: 35px;
}
.pokemon__item-stat {
  margin-bottom: 1rem;
}
.pokemon__item-stat img {
  margin-right: 0.5rem;
  width: 25px;
}
.pokemon__item-stat span {
  margin-right: 1rem;
}
@media (max-width: 1050px) {
  .pokemon__item {
    flex-basis: 40%;
  }
  .pokemon__item--large {
    flex-basis: 100%;
  }
  .pokemon__item-img {
    width: 50px;
  }
}
@media (max-width: 750px) {
  .pokemon__item {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .pokemon__item--large .pokemon__item-img {
    display: block;
    float: none;
    margin: auto;
    width: 250px;
  }
}