@using cloudscribe.Pagination.Models;
@using Pokedex.Common;

@model PagedResult<PokemonListingViewModel>

@{
    ViewData[Constants.Title] = "My " + Constants.Pokedex;
    ViewData[Constants.Controller] = Constants.PokedexNoAccent;
}

<h1>@ViewData[Constants.Title]</h1>

<div class="pokemon__container">
    @foreach (var pokemon in Model.Data)
    {
        <partial name="_MyPokemonPartial" model="pokemon" />
    }

    @if (Model.Data.Count == 0)
    {
        <h2>You have no @Constants.Pokemon in your @Constants.Pokedex!</h2>
    }
</div>

<partial name="_PaginationPartial" model="Model" />