@using Pokedex.Common;

@model List<PokemonListingViewModel>

@{
    ViewData["Title"] = Constants.Pokedex;
    
}

<div class="pokemon__container">
    @foreach (var pokemon in Model)
    {
        <a class="pokemon__item" asp-controller="Pokedex" asp-action="Detail" asp-route-id="@pokemon.MyPokemonId">
            tbd
        </a>
    }
</div>