@using cloudscribe.Pagination.Models;
@using Pokedex.Common;

@model PagedResult<PokemonListingViewModel>

@{
    ViewData[Constants.Title] = Constants.NationalDex;
    ViewData[Constants.Controller] = Constants.NationalDex;
}

<h1>National @Constants.Pokedex</h1>

<div class="pokemon__container">
    @foreach (var pokemon in Model.Data)
    {
        <partial name="_NationalDexPartial" model="pokemon"/>
    }
</div>

<partial name="_PaginationPartial" model="Model" />